<% try { %>
    <%- include('partials/header', { user: [firstName, lastName] }) %>
  <% } catch (error) { %>
    <%- include('partials/header') %>
  <% } %>
  
  <head>
      <!-- Your existing head content -->
  
      <script>
          document.addEventListener('DOMContentLoaded', function () {
              var calendarEl = document.getElementById('calendar');
              
              //var getEvents = <%- JSON.stringify(foundEvents) %>; // Corrected syntax
              
              var calendar = new FullCalendar.Calendar(calendarEl, {
                  headerToolbar: {
                      left: 'prev,next,today',
                      center: 'title',
                      right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                  },
                  initialDate: '<%= date %>',
                  navLinks: true,
                  businessHours: true,
                  editable: true,
                  selectable: true,
                  events: getEvents
              });
  
              calendar.render();
          });
      </script>
  </head>
  
 
</head>
<div class="left-side">
    <h1><%=appTitle%></h1>
    <a href="/<%=appTitle%>/event-submission"><button type="button" class="btn btn-secondary">Add Event</button></a>
    <a href="/apps/<%=appTitle%>/events"><button type="button" class="btn btn-secondary">Edit Events</button></a>
    <a href="/apps/<%=appTitle%>/delete"><button type="button" class="btn btn-danger">Delete Category</button></a>
</div>
<div id='calendar'></div>




<%- include('partials/footer') %>